# Copy this file to `./config.sh` (dropping .example), and replace the values with your own

export BOT_NUMBER=+15555555555 # number you've obtained for your bot
export TEST_RECIPIENT=+14444444444 # your number

# For Profile settings
export DISPLAY_NAME="GPT Bot"

# For Account Registrations
export CAPTCHA=""
export VERIFICATION_CODE=""